/* body {
  padding: 0px 24px;
} */

/*GLOBAL*/
a:link {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*TOP HEADER*/
.site-header {
  border: 1px dashed black;
}

.site-header img {
  display: block;
  margin: 16px auto;
  width: 60%;
}

.site-header input[type="search"] {
  width: 100%;
  margin: 0;
  border-radius: 1.25rem;
  font-size: 1.25rem;
}

.site-header ul {
  margin: 16px 0px 16px 0px;
  /* list-style: none; */
  padding: 0;
  font-size: 1.25rem;
}

.site-header li {
  display: block;
}

/*HERO*/
.hero {
  background-color: pink;
  border: 1px dashed black;
  /* height: auto; */
  
}

.hero * {
  border: 1px dashed black;
}

.hero img {
  display: block;
  margin: auto;
  padding: 16px 0px;
  width: 100%;
}

.btn-container {
  text-align: center;
}

/* .hero button {
    margin-bottom: 16px;
} */

/*SPOT*/
/* .main-spots {
  display: none;
} */

/*POPULÄRA PRODUKTER*/
.popular-products img {
  width: 80%;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 16px 0px 16px 0px;
}

.popular-products > * {
  border: 1px dashed black;
}

/*FOOTER - ASIDE LIST*/
.aside-info {
  margin: 30px 0px;
}

.aside-info ul {
  padding: 0;
}
.aside-info > ul li {
  margin: 16px 0px;
  padding: 0;
  color: pink;
  font-size: 1.25rem;
}

.fas {
  font-size: 2.25rem;
}

/*FOOTER LINKS*/
.footer-links > ul {
  padding: 0;
  font-size: 1rem;
}

.footer-links > ul > li:first-child {
  font-weight: bold;
  font-size: 1.25rem;
}